h1,p,h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto auto;


}

body {
    background-color: beige;
}

.list {
    text-align: center;
}

ul.recipe-steps {
    display: inline-block;
    text-align: left;
}